#countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px ;
}

.tag{
    width: 150px;
    padding: 30px;
    border-radius: 10px;
    background: black;
    color: white;
    text-align: center;
}

.value{
    display: block;
    font-weight: 700;
    font-size: 30px;
}

.label{
    text-transform: uppercase;
    font-size: 14px;
}