/********** FONTS **********/
@font-face {
    font-family: 'Quicksand';
    src:
            url('/static/fonts/quicksand/Quicksand-VariableFont_wght.woff2') format('woff2'),
            url('/static/fonts/quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

/********** VARIABLES **********/
:root {

    /* Fonts */
    --font-family-titre: 'Quicksand', sans-serif;
    --font-family-text: 'Georgia', 'Times New Roman', 'Times';

    /* Font-size */
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-26: 1.625rem;
    --fs-27: 1.687rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-42: 2.625rem;
    --fs-50: 3.125rem;
    --fs-56: 3.5rem;
    --fs-64: 4rem;
    --fs-72: 4.5rem;
    --fs-body: calc(0.9rem + 0.4vw);
    --fs-main-items: clamp(0.85rem, 2.2vw - 0.3rem, 2.2rem);
    --fs-main-title: clamp(3rem, 9vw + 0.4rem, 9rem);
    --fs-sous-titre-2: calc(0.9rem + 1.5vw);
    --fs-sous-titre-3: calc(0.8rem + 1.2vw);

    /*Background-colors */
    --bg-draw-line: #5C5E62;
    --bg-lighter-gray-link: #919397;
    --bg-main-color: #F9F9F9;
    --bg-dark-bluish-gray: #707277;
    --bg-dark-warm-gray: #CCC1C0;
    --bg-dark-warmless-gray: #C8C1C0;


    /* Shadows */
    --shadow-main: 0px 0px 8px #66686C;

    /* Shadows */
    --transition-color: color 0.4s ease;
}

/********** RESET **********/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 450;
    font-style: normal;
    font-size: var(--fs-body);
    padding: 2rem;
}

/*je créée un flex grid pour centrer toutes les sections sur la hauteur du viewport*/
section {
    font-family: var(--font-family-text);
    display: grid;
    place-items: center;
}
header, footer {
    font-family: var(--font-family-titre);
    align-content: center;
    height: 8rem;
}
/********** STRUCTURE DE LA PAGE (header - content - footer) **********/

.page-layout {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/********** NAVIGATION **********/

nav  {
    width: 100%;
    margin: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-main-title {
    font-size: var(--fs-main-items);
}

.navbar-main-title a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 1.875rem;
}
nav ul a {
    color: black;
    text-decoration: none;
    font-size: var(--fs-main-items);
    font-weight: 500;
    cursor: pointer;
}

/********** FOOTER **********/

.footer p {
    text-align: center;
}

/********** GENERAL CONTENT **********/

h1 {
    text-align: center;
    margin-bottom: 4rem;
}

/********** CONNEXION-CONTENT **********/

.connexion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


