<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Inscription / Connexion</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<section layout:fragment="content">
    <div class="connexion-container">
        <form class="form connexion-form" th:action="@{/connexion}" method="post">

            <div class="form-raw">
                <label>Pseudo :</label>
                <input type="text" name="pseudo"/>
            </div>
            <div class="form-raw">
                <label>Mot de passe :</label>
                <input type="password" name="motDePasse" required/>
            </div>
            <div class="btn-connexion-group">
                <button class="btn connexion-btn" type="submit">Connexion</button>
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="checkbox" name="_remember_me">Se souvenir de moi
                    </label>
                    <div class="mdp-oublie"><a href="">Mot de passe oublié</a></div>
                </div>
            </div>

        </form>
        <div class=" lien-btn inscription-btn">
            <a th:href="@{/inscription}">Créer un compte</a>
        </div>
    </div>
</section>
</body>
</html>