<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscrition / Connexion</title>
</head>
<body>

<form th:action="@{/connexion}" method="post">

    <div>
        <label>Pseudo :</label>
        <input type="text" name="pseudo"/>
    </div>

    <div>
        <label>Mot de passe :</label>
        <input type="password" name="motDePasse" required/>
    </div>

    <button type="submit">Se connecter</button>

</form>
<p><a th:href="@{/inscription}">S'inscrire</a></p>


</body>
</html>