<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<h1>Formulaire d'inscription</h1>

<form th:action="@{/inscription}" th:object="${utilisateur}" method="post">

<!--    <div style="color: red;" th:if="${#fields.hasErrors('*')}" >-->
<!--        <p th:text="#{index.erreurs}">Message d'erreur</p>-->
<!--    </div>-->
    <div class="groupLabel groupeLabel1">
        <div>
            <label for="pseudo">Pseudo :</label>
            <input type="text" id="pseudo" th:field="*{pseudo}"/>
        </div>

        <div>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" th:field="*{prenom}">
        </div>

        <div>
            <label for="telephone">Téléphone :</label>
            <input type="text" id="telephone" th:field="*{telephone}">
        </div>

        <div>
            <label for="codePostal">Code postal :</label>
            <input type="text" id="codePostal" th:field="*{codePostal}">
        </div>

        <div>
            <label for="motDePasse">Mot de passe :</label>
            <input type="password" id="motDePasse" th:field="*{motDePasse}">
        </div>
    </div>

    <div class="groupLabel groupeLabel2">
        <div>
            <label for="prenom">Nom :</label>
            <input type="text" id="prenom" th:field="*{prenom}"/>
        </div>

        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" th:field="*{email}">
        </div>

        <div>
            <label for="rue">Rue :</label>
            <input type="text" id="rue" th:field="*{rue}">
        </div>

        <div>
            <label for="ville">Ville :</label>
            <input type="text" id="ville" th:field="*{ville}">
        </div>

        <div>
            <label for="confirmationMotDePasse">Confirmation :</label>
            <input type="password" id="confirmationMotDePasse" th:field="*{confirmationMotDePasse}">
        </div>
    </div>

    <button type="submit">S'inscrire</button>
</form>

</body>
</html>