<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<section layout:fragment="content">
    <h1>Mon profil</h1>
    <div id="inscription-container">
        <div th:replace="fragments/formulaire-utilisateur :: form(
    action=@{/inscription},
    cancelUrl=@{/accueil},
    utilisateurFormDTO=${utilisateurFormDTO},
    mode=${mode})">
        </div>

    </div>
    <script th:src="@{/js/registration.js}" defer></script>
</section>

</html>