<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <section layout:fragment="content">

    <h1>Liste des enchères</h1>
<th:block th:replace="fragments/vente :: recherche (${recherche})"></th:block>
<div th:each="article : ${ventesEnCours}" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <th:block th:replace="fragments/vente :: vente-card (${article})"></th:block>
</div>

    </section>

</body>
<script sec:authorize="isAuthenticated()">
    document.addEventListener('DOMContentLoaded', function() {
        function toggleRecherche() {
            const achatChecked = document.getElementById('achat').checked;
            const venteChecked = document.getElementById('vente').checked;
            const ventesCheckboxes = ['mesVentesEnCours', 'mesVentesNonDebutees', 'mesVentesTerminees'];
            const achatsCheckboxes = ['encheresOuvertes', 'mesEncheres', 'mesEncheresRemportees'];

            // BIDIRECTIONNEL : désactive si achat, active si vente
            ventesCheckboxes.forEach(id => {
                const cb = document.getElementById(id);
                if (cb) {
                    cb.disabled = achatChecked;  // désactive si ACHATS est coché, et active si ACHATS n'est pas coché
                    cb.checked = venteChecked;  // coche si VENTES est sélectionné
                }
            });

            // BIDIRECTIONNEL : désactive si vente, active si achat
            achatsCheckboxes.forEach(id => {
                const cb = document.getElementById(id);
                if (cb) {
                    cb.disabled = venteChecked;  // désactive si VENTES est coché, et active si VENTES n'est pas coché
                    cb.checked = achatChecked;  // coche si ACHATS est sélectionné
                }
            });
        }

        // Écouteurs SUR LES DEUX radios
        document.getElementById('achat').addEventListener('change', toggleRecherche);
        document.getElementById('vente').addEventListener('change', toggleRecherche);

    });
</script>
<script sec:authorize!="isAuthenticated()">
    document.addEventListener('DOMContentLoaded', function() {
        function toggleRecherche() {
            const checkboxes = ['mesVentesEnCours', 'mesVentesNonDebutees', 'mesVentesTerminees', 'encheresOuvertes', 'mesEncheres', 'mesEncheresRemportees'];

            // BIDIRECTIONNEL : désactive si achat, active si vente
            checkboxes.forEach(id => {
                const cb = document.getElementById(id);
                if (cb) {
                    cb.checked = false;  // coche si VENTES est sélectionné
                }
            });
        }
    });
</script>
</html>