<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
</head>
<body>
    <h1>Détails vente</h1>

    <div>
        <p>Article : <span th:text="*{vente.nomArticle}"></span></p>
        <p>Description : <span th:text="*{description}"></span></p>
        <p>Catégorie : <span th:text="*{libelle}"></span></p>
        <p>Meilleure offre : à récupérer</p>
        <p>Mise à prix : <span th:text="*{prixInitial}"></span> points</p>
        <p>Fin de l'enchère : <span th:text="*{dateFinEncheres}"></span></p>
        <p>Retrait: <span th:text="*{rue}"></span>
        <p> <span th:text="*{codePostal}"></span>
            <span th:text="*{ville}"></span>
        </p>
        <p>Vendeur : à récupérer</p>
        <p>Ma proposition : à récupérer</p>

        <a th:href="@{/accueil}">Enchérir</a>
    </div>

</body>
</html>