<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
</head>
<body>
    <h1>Détails vente</h1>

    <div>
        <p>Article : <span th:text="${article.nomArticle}"></span></p>
        <p>Description : <span th:text="${article.description}"></span></p>
        <p>Catégorie : <span th:text="${article.categorie.libelle}"></span></p>
        <p>Meilleure offre :
            <span th:text="${meilleureOffre.montantEnchere}"></span>
            points par
            <a th:href="@{/profil}" th:text="${meilleureOffre.acheteur.pseudo}"></a>
        </p>
        <p>Mise à prix : <span th:text="${article.prixInitial}"></span> points</p>
        <p>Fin de l'enchère : <span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
        <p>
            <span>Retrait: </span>
            <span th:text="${article.retrait?.rue} ?: ''">
                <p> <span th:text="${article.retrait?.codePostal} ?: ''"></span>
                    <span th:text="${article.retrait?.ville} ?: ''"></span>
                </p>
            </span>
        </p>
        <p>Vendeur :
            <a th:href="@{/profil}" th:text="${article.vendeur.pseudo}"></a>
        </p>

        <form th:action="@{/vente/{id}/encherir(id=${article.noArticle})}" method="POST">
            <p>Ma proposition :
                <input type="number" name="nouveauMontantEnchere" th:value="${monOffre.montantEnchere}" required min="10" step="10">
                points
                <input type="submit" value="Enchérir">
            </p>
        </form>
    </div>

</body>
</html>