<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <p><a th:href="@{/connexion}">S'inscrire - Se connecter</a></p>
    <p><a th:href="@{/profil}">Profil</a></p>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Se déconnecter"/>
    </form>

    <h2 th:if="${pseudo != null}">
        Bonjour <span th:text="${pseudo}"></span> !
    </h2>

    <h1>Liste des enchères</h1>
    <p>Ceci est un test pour vérifier l'accès à la fonctionnalité Afficher le détail d'une vente</p>

    <!--    <h2>Détail vente <span th:text="${vente.id}"></span></h2>-->
    <!--    <p><strong>Nom :</strong> <span th:text="${vente.nom}"></span></p>-->
    <!--    <p><strong>Description :</strong> <span th:text="${vente.description}"></span></p>-->
    <!--    <a th:href="@{/}">Retour liste</a>-->

    <!-- Mes achats -->
    <!-- Mes ventes -->


    <div class="container mt-4">
        <div class="row g-3">
            <!-- Carte 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/1}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 1</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/2}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 2</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/3}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 3</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/4}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 4</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 5 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/5}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 5</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 6 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/6}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 6</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 7 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/7}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 7</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 8 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/8}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 8</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 9 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/9}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 9</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Carte 10 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <a th:href="@{/vente/10}" class="text-decoration-none text-dark">
                        <img src="/images/pc-gamer.jpg" class="card-img-top" alt="logo de l'ENI">
                        <div class="card-body">
                            <h5 class="card-title">PC-gamer</h5>
                            <p class="card-text">Afficher le détail pour la vente numéro 10</p>
                        </div>
                    </a>
                </div>
            </div>

</body>
</body>
</html>