<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENI-Enchères</title>
</head>
<body>
    <h1>Nouvelle vente</h1>

    <span>
        <div>
<!--            image-->
        </div>
        <div>
            <form action="/vente/creation">
                <ul class="flex-outer">
                    <li>
                        <label for="article">Article</label>
                        <input type="text" id="article" th:field="">
                    </li>
                    <li>
                        <label for="description">Description</label>
                        <input type="text" id="description" th:field="">
                    </li>
                    <li>
                        <label for="idCategory">Catégorie</label>
                        <select th:field="" name="idCategory" id="idCategory">
                            <option value=-1>-- Sélectionner une catégorie --</option>
                        </select>
                    </li>
                    <li>
                        <label for="getimg">Photo de l'article</label>
                        <input type="button">
                    </li>
                </ul>
            </form>
        </div>
    </span>

</body>
</html>